/*1. img src 꽉 차게 만들기*/

.container1 {
  width: 100%;
}

.container1 img {
  width: 100%;
}

/*2. div background 꽉 차게 만들기*/

.div-container {
  width: 100%;
  height: 100%;
}

.container2 {
  background: url(parallax1.jpg) no-repeat;
  size: cover;
  width: 1503px;
  height: 1060px;
}
/*3. 원하는 부위만 나오게 만들기*/
.container3 {
  width: 100%;
  height: 700px;
  background: url(parallax1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
