/*@media {

}*/

body {
  margin: 0;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: baseline;
  height: 81px;
  /*어떻게 구성된건지 확인하고 나중에 지울 것!!*/
  border-bottom: 3px solid black;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #eef4ef;
  box-shadow: 0 1px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 -3px;
}

nav button {
  border: 1px solid #ededec;
  border-radius: 0px;
  background-color: white;
  padding: 10px;
  height: 49px;
  width: 174px;
  outline: none;
  box-shadow: none;
  margin-bottom: -1px;
}

main {
  display: flex;
  flex-flow: column wrap;
}

main [class^="container"] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.container1 [id*="e"] {
  width: 270px;
  height: 444px;
  margin-bottom: 15px;
}

#imagenotice {
  width: 432px;
  margin: 0 15px 15px 15px;
}

.container2 [id*="e"] {
  width: 493px;
  height: 222px;
}

#notice {
  margin-right: 15px;
}

main [id*="e"] {
  border: 5px solid black;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid gray;
  margin-top: 30px;
  justify-content: center;
}

#nialogo {
  margin-right: 10px;
}

#walogo {
  margin: 0 10px;
}

#centerlogo {
  margin-left: 10px;
}

.copyright {
  display: flex;
  flex-flow: column nowrap;
  font-size: 12px;
  margin: 0 10px;
}

.copyright ul {
  padding: 0;
}

.copyright li {
  position: relative;
}

.copyright p {
  color: gray;
  margin: 0;
}
