/* 공통사항 */

* {
  margin: 0;
  /* border: 1px solid black; */
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

ul, ol, li {
  list-style: none;
}

h6 {
  display: none;
}

button {
  padding: 10px 20px;
  border: 1px solid black;
  cursor: pointer;
}

button:active {
  transform:scale(1.1);
  filter: brightness(0.75);
}

/* 전체 컨테이너 */

.app__body {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__body > * {
  width: 100%;
  height: 100%;
}

/* 달력, 투두 날짜 표시 영역 */

.calendar__body {
  display: flex;
  flex-direction: column;
}

.calendar__date, .todo__date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar__date {
  justify-content: space-between;
}

.calendar__date .month-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar__date .this__date, .todo__date > .this__date {
  margin: 0 20px;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  text-align: center;
}

.prev__month, .next__month {
  padding: 5px 10px;
  background: none;
  border: 1px solid gray;
  /* border: none; */
}

.calendar__days {
  width: 100%;
  display: flex;
  justify-content: center;
}

.calendar__days > * {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.calendar__dates {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__dates > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
