/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

:root {
  /* sizing */
  --test: 20px;
  /* coloring */
  --testColor: red;
}

p {
  display: inline-block;
}