ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.upper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.upper > li {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  padding-top: 5px;
  position: relative;
  display: inline-block;
}

.upper ul[class*="down"] {
  display: none;
  position: absolute;
  border: 1px solid black;
  top: 35px;
  left: -1px;
  height: 185px;
}

.upper:hover ul[class*="down"] {
  display: block;
}

.upper > li .submenu {
  width: 100px;
  height: 30px;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  text-align: justify;
  font-size: small;
}
