body,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

.menu-container {
  width: 100%;
}

.upper {
  display: flex;
  flex-flow: row nowrap;
  border: 0.063em solid black;
}

.upper-list {
  text-align: center;
  position: relative;
  padding: 0.625em;
  width: 6.25em;
  border: 0.063em solid black;
}

.upper-list:hover {
  background: black;
  color: white;
}

.upper-list:hover .down {
  display: block;
}

.down {
  display: none;
  position: absolute;
  top: 2.625em;
  left: -0.063em;
  width: 7.625em;
  color: black;
}

.down-list {
  border: 0.063em solid black;
}

.down-list:hover {
  background: gray;
}

.search {
  width: 2.725em;
  height: 2.725em;
  position: absolute;
  right: 0;
  top: 0;
}

.search:hover {
  background: blue;
  color: white;
}

.fa-search {
  position: absolute;
  top: 0.838em;
  right: 0.863em;
}

.media-menu {
  display: none;
}

@media (max-width: 600px) {
  .upper-list:not(.first),
  .search {
    display: none;
  }

  .media-menu {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 2.85em;
    height: 2.85em;
  }

  .media-upper-list {
    width: 2.85em;
    height: 2.85em;
    position: relative;
  }

  .fa-bars {
    position: absolute;
    right: 0.988em;
    top: 0.9em;
  }

  .media-menu:hover {
    background-color: blue;
    color: white;
  }

  .media-down-menu {
    display: none;
    position: absolute;
    border: 0.063em solid black;
    width: 99.7vw;
    right: 0;
  }

  .media-menu:hover .media-down-menu {
    display: block;
  }

  .media-down-list {
    color: black;
    border: 0.063em solid black;
    text-align: center;
    height: 2.85rem;
  }

  .media-down-menu span {
    position: relative;
    top: 0.688em;
  }

  .media-down-list:hover {
    background: lightgray;
  }
}
