/*====================공통사항====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

:root {
  /*==========색상==========*/
  --bg-profile: #94bfe7;
  --bg-shadedwhite: #f9f9fa;
  --bg-birthday: #f56971;
  --bg-recommend: #8f7ec2;
  --bg-channel: #fae100;
  --font-black: #1a1a1a;
  --font-gray: #b5b5b5;
  /*==========폰트==========*/
  --heading-big: 1.625rem;
  --heading-middle: 1.5rem;
  --heading-small: 1.375rem;
  --font-medium: 0.875rem;
  --font-small: 0.75rem;
  /*==========사이즈==========*/
  --margin-common: 15px;
  --padding-common: 15px;
}
/*==========레이아웃 관련==========*/
html,
body {
  width: 100%;
  height: 100%;
}

span {
  display: inline-block;
}

ul,
ol,
li {
  list-style: none;
}

body {
  color: var(--font-black);
}
/*=====contents-container, nav 컨테이너 양식=====*/
body > .contents-wrapper {
  height: calc(100vh - 74.4px);
}
/*====헤더, 메인 컨테이너=====*/
body > .contents-wrapper > .contents-container {
  height: 100%;
  padding: 0 var(--padding-common);
  overflow-y: scroll;
}
/*====오버플로우 스크롤바 숨김=====*/
body > .contents-wrapper > .contents-container::-webkit-scrollbar {
  display: none;
}

/*====================header====================*/
/*==========헤더 전체 양식==========*/
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
/*==========아이콘 컨테이너 정렬==========*/
header ul {
  display: flex;
}
/*==========아이콘 간격==========*/
header i {
  margin: 0 5px;
}
/*====================광고영역====================*/
aside {
  height: 80px;
  text-align: center;
  background-color: lightgray;
}
/*====================768px~검색창====================*/
section.search-form {
  display: none;
}
/*====================main====================*/
/*=====채팅 목록 정렬=====*/
main .chat-list-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 0;
}
/*=====프로필사진 양식=====*/
main .profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: var(--bg-profile);
}
/*====특정 프로필사진 양식=====*/
main .profile-yellow {
  background-color: var(--bg-channel);
}
/*=====채팅목록 상세=====*/
/*===채팅방 정보 양식===*/
main > .chat-list > .chat-list-menu > .chat-list-contents > .text-box {
  width: 82%;
  position: relative;
}
/*===채팅방 중 채팅내용이 긴 채팅방 양식===*/
main
  > .chat-list
  > .chat-list-menu
  > .chat-list-contents
  > .text-box-exception {
  width: 85%;
  position: relative;
  right: 3px;
}
/*===마지막 채팅내용 간격 확보===*/
main > .chat-list > .chat-list-menu > .chat-list-contents > .text-box > p {
  margin-top: 5px;
}
/*===마지막 채팅내용 양식===*/
main > .chat-list > .chat-list-menu > .chat-list-contents p {
  font-size: 10px;
  color: var(--font-gray);
}
/*===마지막 채팅내역 시간===*/
main > .chat-list > .chat-list-menu > .chat-list-contents > .chat-time {
  position: relative;
  bottom: 11px;
}
/*===마지막 채팅내역 시간 중 양식 어긋난 내용===*/
main
  > .chat-list
  > .chat-list-menu
  > .chat-list-contents
  > .chat-time.chat-time-long {
  position: relative;
  bottom: 17px;
}
/*===채팅방 제목의 추가정보===*/
main > .chat-list > .chat-list-menu > .chat-list-contents > .text-box span {
  color: var(--font-gray);
  font-size: var(--font-small);
  margin: 0 5px;
}
/*====================nav====================*/
/*=====nav 양식=====*/
nav {
  background-color: var(--bg-shadedwhite);
  padding: 5px 0;
}
/*=====모바일 아이콘 표시사항=====*/
nav .menu-main {
  display: flex;
  justify-content: space-around;
  font-size: 35px;
}
/*=====아이콘 간격 확보=====*/
nav .menu-main * {
  margin: var(--margin-common) 0;
}
/*=====데스크톱 아이콘 숨김=====*/
nav .menu-utility {
  display: none;
}
/*====================미디어 쿼리====================*/
@media (min-width: 768px) {
  /*==========전체 레이아웃 관련==========*/
  /*=====container, nav 감싸는 컨테이너 양식=====*/
  body > .contents-wrapper {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
  }
  /*=====container 양식=====*/
  body > .contents-wrapper > .contents-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }
  /*=====nav 양식=====*/
  body > .contents-wrapper > nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: scroll;
  }
  /*=====overflow 스크롤바 숨김=====*/
  body > .contents-wrapper > .contents-container::-webkit-scrollbar,
  body > .contents-wrapper > nav::-webkit-scrollbar {
    display: none;
  }
  /*=====아이콘상자 표시 정리용=====*/
  .contents-wrapper > nav > div {
    display: flex;
    flex-direction: column;
  }
  /*=====광고영역=====*/
  /*==========header 수정사항==========*/
  /*=====유틸리티 아이콘 숨김=====*/
  header .menu-utility .fas:not(.fa-user-plus) {
    display: none;
  }
  /*==========검색창 수정사항==========*/
  /*=====검색창 양식=====*/
  section.search-form {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    background-color: lightgray;
    margin: 0 var(--margin-common);
    padding: 0 10px;
    border-radius: 20px;
    color: var(--font-gray);
  }
  /*=====입력폼 너비 확보용=====*/
  section.search-form > form {
    width: 100%;
    margin: 0 5px;
  }
  /*=====입력폼 양식=====*/
  section.search-form input {
    height: 25px;
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--font-gray);
    outline: none;
    box-shadow: none;
  }
  /*==========nav 수정사항==========*/
  /*=====내부 간격 확보용=====*/
  nav > div {
    margin: 20px;
  }
  /*=====모바일-데스크탑 공통 아이콘 양식=====*/
  nav > .menu-main {
    text-align: center;
    font-size: 25px;
  }
  /*=====모바일-데스크탑 공통 아이콘 간격 조정=====*/
  nav > .menu-main > i {
    margin: 20px 0;
  }
  /*=====특정 아이콘 숨김=====*/
  nav > .menu-main > .fa-plus {
    display: none;
  }
  /*=====New 표시 추가=====*/
  nav > .menu-main > .fa-ellipsis-h:after {
    content: "N";
    display: inline-block;
    border: 1px solid #ff5442;
    background-color: #ff5442;
    color: white;
    border-radius: 50%;
    font-size: 8px;
    padding: 4px;
    position: relative;
    bottom: 43px;
    left: 18px;
  }
  /*=====데스크탑 전용 아이콘 양식=====*/
  nav > .menu-utility {
    display: flex;
    font-size: 25px;
    text-align: center;
  }
  /*=====데스크탑 전용 아이콘 간격=====*/
  nav > .menu-utility > i {
    margin: 15px 0;
  }
  /*==========main 수정사항==========*/
} /*미디어쿼리 끝*/
