/*====================공통사항====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

:root {
  /*==========색상==========*/
  --bg-profile: #94bfe7;
  --bg-shadedwhite: #f9f9fa;
  --bg-birthday: #f56971;
  --bg-recommend: #8f7ec2;
  --bg-channel: #fae100;
  --font-black: #1a1a1a;
  --font-gray: #b5b5b5;
  /*==========폰트==========*/
  --heading-big: 1.625rem;
  --heading-middle: 1.5rem;
  --heading-small: 1.375rem;
  --font-medium: 0.875rem;
  --font-small: 0.75rem;
  /*==========사이즈==========*/
  --margin-common: 15px;
  --padding-common: 15px;
}
/*==========레이아웃 관련==========*/
html,
body {
  width: 100%;
  height: 100%;
}

span {
  display: inline-block;
}

ul,
ol,
li {
  list-style: none;
}

body {
  color: var(--font-black);
}

/*====================header====================*/
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

header ul {
  display: flex;
}

header i {
  margin: 0 10px;
  font-size: 18px;
}
/*====================main====================*/
/*==========main 공통사항==========*/
main {
  margin: 0 var(--margin-common);
}
/*==========사용자 정보 메뉴==========*/
main .main-user {
  padding: 10px 0;
}
/*==========유저 정보 컨테이너==========*/
main .main-user .main-user-info-container {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
/*=====유저 프로필 사진 양식=====*/
/*===사진 배경===*/
main .main-user .main-user-info-container .user-picture {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid var(--bg-profile);
  border-radius: 12px;
  width: 50px;
  height: 50px;
  background-color: var(--bg-profile);
  text-align: center;
}
/*===유저 아이콘===*/
main .main-user .main-user-info-container .user-picture i {
  font-size: 25px;
  color: lightblue;
}
/*=====유저 정보 양식=====*/
/*===유저 정보 컨테이너===*/
main .main-user .main-user-info-container .text-box {
  width: 100%;
}
/*===유저 이메일 양식===*/
main .main-user .main-user-info-container .text-box p {
  font-size: var(--font-small);
  color: var(--font-gray);
}
/*===768~ 보안 아이콘 숨김===*/
main .main-user .main-user-info-container span {
  display: none;
}
/*=====카카오 지갑 양식=====*/
/*===컨테이너 스타일===*/
main .safety-protection {
  padding: var(--padding-common);
  border: 1px dashed gray;
  background-color: var(--bg-shadedwhite);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*===내부 텍스트 스타일===*/
main .safety-protection h5 {
  margin: 0 10px;
  font-weight: 500;
}

main .safety-protection span {
  padding: 5px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 7px;
  font-size: 10px;
  text-align: center;
}
/*====================nav====================*/
/*=====nav 양식=====*/
nav {
  background-color: var(--bg-shadedwhite);
  padding: 5px 0;
}
/*=====모바일 아이콘 표시사항=====*/
nav .menu-main {
  display: flex;
  justify-content: space-around;
  font-size: 35px;
}
/*=====아이콘 간격 확보=====*/
nav .menu-main * {
  margin: var(--margin-common) 0;
}
/*=====데스크톱 아이콘 숨김=====*/
nav .menu-utility {
  display: none;
}
/*====================aside====================*/
/*=========광고영역 숨김==========*/
aside {
  display: none;
}
/*====================미디어 쿼리====================*/
@media (min-width: 768px) {
  /*==========전체 레이아웃 관련==========*/
  /*=====container, nav 감싸는 컨테이너 양식=====*/
  body > .contents-wrapper {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
  }
  /*=====container 양식=====*/
  body > .contents-wrapper > .contents-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }
  /*=====nav 양식=====*/
  body > .contents-wrapper > nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: scroll;
  }
  /*=====overflow 스크롤바 숨김=====*/
  body > .contents-wrapper > .contents-container::-webkit-scrollbar,
  body > .contents-wrapper > nav::-webkit-scrollbar {
    display: none;
  }
  /*=====아이콘상자 표시 정리용=====*/
  .contents-wrapper > nav > div {
    display: flex;
    flex-direction: column;
  }
  /*=====광고영역=====*/
  aside {
    display: block;
    width: 100%;
    height: 150px;
    border: 1px solid lightgray;
    background-color: var(--bg-shadedwhite);
    text-align: center;
  }
  /*==========header 수정사항==========*/
  /*=====유틸리티 아이콘 숨김=====*/
  header .menu-utility .fas:not(.fa-user-plus) {
    display: none;
  }
  /*==========nav 수정사항==========*/
  /*=====내부 간격 확보용=====*/
  nav > div {
    margin: 20px;
  }
  /*=====모바일-데스크탑 공통 아이콘 양식=====*/
  nav > .menu-main {
    text-align: center;
    font-size: 25px;
  }
  /*=====모바일-데스크탑 공통 아이콘 간격 조정=====*/
  nav > .menu-main > i {
    margin: 20px 0;
  }
  /*=====특정 아이콘 숨김=====*/
  nav > .menu-main > .fa-plus {
    display: none;
  }
  /*=====New 표시 추가=====*/
  nav > .menu-main > .fa-ellipsis-h:after {
    content: "N";
    display: inline-block;
    border: 1px solid #ff5442;
    background-color: #ff5442;
    color: white;
    border-radius: 50%;
    font-size: 8px;
    padding: 4px;
    position: relative;
    bottom: 43px;
    left: 18px;
  }
  /*=====데스크탑 전용 아이콘 양식=====*/
  nav > .menu-utility {
    display: flex;
    font-size: 25px;
    text-align: center;
  }
  /*=====데스크탑 전용 아이콘 간격=====*/
  nav > .menu-utility > i {
    margin: 15px 0;
  }
  /*==========main 수정사항==========*/
} /*미디어쿼리 끝*/
