* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

:root {
  --background: #243343;
  --highlight: #d69464;
}

body > * {
  all: none;
}

.hidden {
  display: none;
}

ul,
ol,
li {
  list-style: none;
}

nav {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  background: var(--background);
  color: white;
}

nav > .container {
  width: 70%;
}

h1 {
  margin-left: 10px;
}

ul,
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0 auto;
}

ul > li {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.icon-container {
  margin-left: auto;
}

.fab,
.mobile-menu {
  font-size: 32px;
  margin: 0 10px;
}

.mobile-menu {
  display: none;
}

@media (max-width: 1167px) {
  ul {
    display: none;
  }

  ul.active {
    width: 100vw;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: -0.000000001px;
    background: var(--background);
  }

  ul > li {
    margin: 5px 20px;
  }

  ul > li:first-child {
    margin-top: 0;
  }

  ul > li:hover {
    cursor: pointer;
    background-color: var(--highlight);
  }

  .icon-container {
    display: none;
  }

  .icon-container.active {
    background-color: var(--background);
    display: flex;
    padding: 0 20px;
    width: 100vw;
    position: absolute;
    top: 320px;
    left: -0.000000001px;
  }

  .icon-container > i {
    margin: 5px 20px;
  }

  .mobile-menu {
    display: inline-block;
  }

  .mobile-menu:hover {
    cursor: pointer;
    color: var(--highlight);
  }
}
