* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

:root {
  --background: #243343;
  --highlight: #d69464;
}

body > * {
  all: none;
}

/*.hidden {
  display: none;
}*/

ul,
ol,
li {
  list-style: none;
}

nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  background: var(--background);
  color: white;
}

.logo-menu-container {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-left: 10px;
  font-size: 16px;
}

ul,
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  height: 100%;
}

ul > li {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

ul > li:hover {
  cursor: pointer;
  background: var(--highlight);
}

.fab,
.mobile-menu {
  font-size: 20px;
  margin: 0 10px;
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    padding: 20px;
  }

  .logo-menu-container {
    width: 100%;
  }

  .mobile-menu {
    display: inline-flex;
  }

  .mobile-menu:hover {
    cursor: pointer;
    color: var(--highlight);
  }

  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    display: flex;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    flex-direction: column;
  }

  .nav-menu > li {
    width: 100%;
  }

  .icon-container {
    display: none;
  }

  .icon-container.active {
    display: flex;
  }
}
