* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

body > * {
  all: none;
}

.hidden {
  display: none;
}

ul,
ol,
li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}

ul,
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0 auto;
  position: absolute;
  top: 37px;
  left: 25%;
}

ul > li {
  width: 200px;
  height: 100%;
  text-align: center;
}

div {
  font-size: 32px;
}
