/************************universal area************************/
:root {
  --font-color: #898a8b;
  --background-color-w: #fafafa;
  --background-color-b: #616161;
  --black-color: #212121;
}
html {
  color: var(--font-color);
  background-color: var(--background-color-w);
}

body,
ul,
li {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.about > h2 {
  font-weight: 500;
}

.about > h4 {
  font-weight: 400;
  font-style: italic;
}

/************************nav area************************/
/*nav universal*/
nav {
  display: flex;
  flex-flow: row nowrap;
  height: 2.65em;
  position: sticky;
  top: 0;
  background: white;
  border-bottom: 0.063rem solid var(--font-color);
  box-shadow: 0 0.063rem 0.126rem 0.126rem rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/*nav bar*/
nav .navbar {
  height: 100%;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

nav ul li {
  padding: 0.625em;
}
/*search button*/
#search-form {
  margin-left: auto;
  width: 2.65em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#search-form:hover {
  background-color: #d50000;
  color: var(--background-color-w);
}
/*for media query*/
nav .upper-list {
  display: none;
}

/************************header area************************/
/*background image*/
header > .header-image {
  height: 28.125em;
  background: url(images-pf/header/parallax1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  filter: opacity(75%);
  background-attachment: fixed;
}
/*logo box*/
header p {
  position: absolute;
  top: 15.625rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--background-color-w);
  background-color: var(--black-color);
  font-size: 1.5em;
  letter-spacing: 0.625rem;
  padding: 0.625rem 1.563rem;
  filter: opacity(75%);
}
/************************main area************************/
/************************article1 area************************/
/*class "about"*/
.profile > .container-profile {
  padding: 4em 1em;
}

.profile > .container-profile > .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 56.25em;
  margin: 0 auto;
}

.profile > .container-profile > .about > h2,
h4,
p {
  margin: 0.625em 0;
}

.profile > .container-profile > .about > p {
  font-size: 0.938em;
  font-weight: 500;
  width: 100%;
}
/*class "welcome"*/
.profile > .container-profile > .welcome {
  margin: 0.625em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*photo container*/
.profile > .container-profile > .welcome > .profile-photo {
  max-width: 28.75rem;
  padding: 1.875rem 1.25rem;
}

.profile > .container-profile > .welcome > .profile-photo p {
  text-align: center;
}

.profile
  > .container-profile
  > .welcome
  > .profile-photo
  > .profile-photo-image-container {
  width: 90%;
  padding: 1.25rem;
}

.profile
  > .container-profile
  > .welcome
  > .profile-photo
  > .profile-photo-image-container
  img {
  width: 100%;
  filter: opacity(75%);
}

.profile
  > .container-profile
  > .welcome
  > .profile-photo
  > .profile-photo-image-container
  img:hover {
  filter: opacity(100%);
}
/*.welcome p*/
.profile > .container-profile > .welcome > p {
  width: 28.75rem;
  font-size: 0.938rem;
  margin: 0;
  padding: 1.875rem 1.25rem;
}
/*.welcome .ability*/
.profile > .container-profile > .ability {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 56.25em;
  margin: 0 auto;
}

.profile > .container-profile > .ability > p {
  font-size: 1.125em;
}

.profile > .container-profile > .ability > .ability-container {
  width: 100%;
}

.profile > .container-profile > .ability > .ability-container > p span {
  letter-spacing: 0.313em;
}

.profile
  > .container-profile
  > .ability
  > .ability-container
  > .ability-percentage-outline {
  width: 100%;
  height: 1.875rem;
  background-color: #efebe9;
}

.profile
  > .container-profile
  > .ability
  > .ability-container
  > .ability-percentage-outline
  > .ability-actual-percentage-1 {
  width: 90%;
  height: 100%;
  text-align: center;
  background-color: var(--background-color-b);
  color: var(--background-color-w);
}

.profile
  > .container-profile
  > .ability
  > .ability-container
  > .ability-percentage-outline
  > .ability-actual-percentage-2 {
  width: 85%;
  height: 100%;
  text-align: center;
  background-color: var(--background-color-b);
  color: var(--background-color-w);
}

.profile
  > .container-profile
  > .ability
  > .ability-container
  > .ability-percentage-outline
  > .ability-actual-percentage-3 {
  width: 75%;
  height: 100%;
  text-align: center;
  background-color: var(--background-color-b);
  color: var(--background-color-w);
}

.profile
  > .container-profile
  > .ability
  > .ability-container
  > .ability-percentage-outline
  span {
  position: relative;
  top: 0.188rem;
}
/************************article2 area************************/
/*<---area for top of article2's statistics-->*/
.portfolio > .statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 8.375rem;
  padding: 1rem 0;
  background-color: var(--background-color-b);
}

.portfolio > .statistics > .statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.portfolio > .statistics > .statistics-container > h2 {
  margin: 0.625rem 0;
  width: 12.5rem;
  font-weight: 500;
}

/*<---portfolio main image--->*/
.portfolio > .portfolio-image {
  height: 25em;
  width: 100%;
  background: url(images-pf/main/portfolio/parallax2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: opacity(75%);
}

.portfolio > p {
  color: var(--background-color-w);
  font-size: 2.188em;
  letter-spacing: 0.625rem;
  padding: 0.625rem 1.563rem;
  filter: opacity(75%);
  position: absolute;
  top: 118.75rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*<---area for container of works--->*/

.portfolio > .container-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem 0;
  padding: 1.25rem 0.938rem;
}

.portfolio > .container-portfolio > .about {
  text-align: center;
  margin-bottom: 1.25rem;
}

.portfolio > .container-portfolio > .container-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.875rem 0;
}

.portfolio
  > .container-portfolio
  > .container-works
  > .container-works-1st-line,
.container-works-2nd-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 62.5rem;
  max-height: 12.5rem;
}

.portfolio > .container-portfolio > .container-works img {
  width: 20%;
  margin: 0.625rem;
}

/*<---load more button--->*/
.portfolio button {
  margin: 1.875rem 0;
  padding: 1.25rem 1.875rem;
  border: none;
}

/************************article3 area************************/
/*<---contact 헤더 이미지 및 그림 위 문구--->*/
.contact > .contact-image {
  height: 25em;
  background: url(images-pf/main/contact/parallax3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  filter: opacity(75%);
  background-attachment: fixed;
}

.contact > p {
  font-size: 30px;
  letter-spacing: 10px;
  font-weight: 600;
  color: var(--background-color-w);
  position: absolute;
  top: 190.625rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*<---contact info 컨테이너 작업--->*/
.contact > .container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem 0;
  padding: 1.25rem 0.938rem;
}
/*<---제목 파트(where i work) 작업--->*/
.contact > .container-contact > .about {
  margin: 1.25rem 0;
}
/*<---지도 및 연락처 - 지도 -> 연락처 순으로 작업--->*/
.contact > .container-contact > .contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*<---지도--->*/
.contact > .container-contact > .contact-info > .contact-info-map {
  width: 300px;
  margin: 1.875rem;
}

.contact > .container-contact > .contact-info > .contact-info-map > img {
  width: 100%;
}
/*<---연락처--->*/
.contact > .container-contact > .contact-info > .contact-info-spec {
  display: flex;
  flex-flow: column nowrap;
  width: 600px;
  height: 180px;
}

.contact
  > .container-contact
  > .contact-info
  > .contact-info-spec
  > .specific-info {
  height: 80px;
  font-size: 18px;
  position: relative;
  left: 35px;
  bottom: 10px;
}

.contact > .container-contact > .contact-info > .contact-info-spec > .icons {
  font-size: 18px;
  position: relative;
  top: 60px;
}
/*<---메세지 전송 폼 작업: 전체, 이름, 메일, 메시지, 버튼 순으로 작업--->*/
.contact > .container-contact > form {
  position: absolute;
  top: 3670px;
  left: 40%;
  width: 50%;
  height: 80px;
}

.contact > .container-contact > form > input[name="name"],
input[name="email"] {
  width: 40%;
  height: 30px;
  margin: 5px;
}

.contact > .container-contact > form > input[name="message"] {
  width: 84.5%;
  height: 30px;
  margin: 5px;
}

.contact > .container-contact > form > button {
  margin: 5px;
  background-color: var(--black-color);
  color: var(--background-color-w);
  border: none;
  padding: 20px;
  position: relative;
  left: 56%;
}
/************************footer area************************/

/************************media query area************************/
@media (max-width: 600px) {
  /************************nav area************************/
  /*erase elements*/
  nav .list-item,
  #search-form {
    display: none;
  }
  /*down-list contents - upper from down*/
  nav .upper-list {
    display: flex;
    flex-flow: column nowrap;
    margin-left: auto;
  }

  nav .upper-list .bars {
    position: relative;
  }

  nav .upper-list .bars:hover .submenu-list-ul {
    display: flex;
    flex-flow: column nowrap;
    width: 93vw;
  }

  nav .upper-list .submenu-list-ul {
    display: none;
    position: absolute;
    right: 2.3vw;
  }

  nav .upper-list .submenu-list-ul > li {
    border: 1px solid var(--black-color);
    width: 100%;
    position: relative;
    top: 0.75em;
  }

  nav .upper-list .bars li {
    background-color: var(--background-color-w);
    border-color: var(--font-color);
  }

  nav .upper-list .submenu-list-ul span {
    position: relative;
    left: 0.3em;
  }

  /************************header area************************/

  /*shortening logo*/
  header > p > span {
    display: none;
  }

  /************************main area************************/
  /************************article1 area************************/
  /* welcome container */
  .profile > .container-profile > .welcome {
    display: flex;
    flex-direction: column;
  }

  .profile
    > .container-profile
    > .welcome
    > .profile-photo
    > .profile-photo-image-container {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .profile > .container-profile > .welcome > p {
    display: none;
  }
  /************************article2 area************************/
  /************************article3 area************************/
  /************************footer area************************/
  /************************media query area************************/
}
