/* GLOBAL 공통요소 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

html, body {
  width: 100%;
  height: 100%;
}

:root {
  /* 색상 */
  --background: white;
  /* 수치 */
  --size: 16px;
}

.hide {
  display: none;
}

.active {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  height: 100%;
  position: relative;
}

.order {
  width: 10%;
  height: 20px;
  position: absolute;
}

img {
  width: 100%;
  height: 100%;
}

.description {
  /* display: none; */
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

button {
  width: 30px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  cursor: pointer;
}

.prev {
  top: 50%;
  transform: translateY(-50%);
  left: 25.1%;
}

.next {
  top: 50%;
  transform: translateY(-50%);
  right: 25.1%;
}

.radioContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}

.imgOrder {
  margin: 0 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.imgOrder:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.imgOrder.current {
  background-color: rgba(0, 0, 0, 0.3);
}

.progress-bar {
  width: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}

.thumb-container {
  width: 60%;
  height: 10%;
  display: flex;
  cursor: pointer;
}

.thumb-nail {
  filter: opacity(70%);
}

.thumb-nail:hover {
  filter: opacity(100%);
}