/*************** 공통사항 ***************/

* {
  margin: 0;
  /* border: 1px solid black; */
  padding: 0;
  box-sizing: border-box;
}

:root {
  /********** 색상 **********/
  --color-bg: #292e33;
  --color-li: #ffffff;
  --color-font: #535353;
  --color-blue: #2867a8;
  --color-yellow: #f3aa24;
  --color-pink: #f85a66;
  /********** 간격 **********/
  --space-big: 150px;
  --space-small: 40px;
  /********** 사이즈 **********/
  --size-logo: 64px;
  --size-icon: 50px;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  height: 100vh;
}

body {
  padding: var(--space-small) var(--space-big);
  background: var(--color-bg);
}

h2 {
  display: none;
}

ul, li, ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

button {
  width: 75px;
  height: 75px;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.01s ease-in-out;
}

.blue, .yellow, .pink {
  height: 50px;
  border: 1px solid black;
  font-size: 16px;
}

button.blue {
  background: var(--color-blue);
}

button.yellow {
  background: var(--color-yellow);
}

button.pink {
  background: var(--color-pink);
}

button:active {
  filter: brightness(1.1);
  transform: scale(1.1);
}

section.contents-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: auto; */
}

div.buttons-container {
  margin: 20px 0;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.lists-container {
  width: 70%;
  height: 100%;
  overflow: auto;
}

li.clothes {
  margin: 10px 0;
  height: 70px;
  padding: 10px;
  display: flex;
  background: var(--color-li);
}

.clothes figure.icon {
  width: var(--size-icon);
  height: var(--size-icon);
}

h3 {
  margin-left: 10px;
  width: 90%;
  padding-left: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.hide {
  display: none;
}
